<p class="itemTitleBlue">こんなときどうする？　編集画面</p>

<%= render 'message' %>

<% if @item.errors.size > 0 %>
  <% @item.errors.full_messages.each do |msg| %>
    <p id="alert"><%= msg %></p>
  <% end %>
<% end %>

<p>検索画面へ戻る場合は「戻る」ボタンを押下してください。</p>
<%= button_to '戻る', :action => 'search' %>

<p>ケースを追加する場合は「追加」ボタンを押下してください。</p>
<%= button_to_function '追加', onClick="AddTableRows()" %>

<p>編集を保存する場合は「保存」ボタンを押下してください。</p>
<%= form_tag( :action => 'save' ) do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= submit_tag "保存" %>
  <p></p>
  <table id="listTable" class="listTable">
  <col class="idCol">
  <col class="itemCol">
  <col class="update_userCol">
  <col class="caseCol">
  <col class="changeCol">
  <col class="procedureCol">
  <col class="referenceCol">
    <tr>
      <th>ID</th>
      <th>項目</th>
      <th>登録者</th>
      <th>ケース</th>
      <th>変更</th>
      <th>手順</th>
      <th>参照情報 &nbsp;&nbsp;<%= link_to FILE_SERVER_PATH do %><%= image_tag("/assets/folder.png", :alt => '参考資料') %>参考資料フォルダを開く<% end %></th>
    </tr>
    <% count = @item.cases.length %>
    <tr>
      <td rowspan=<%= count %>><%= @item.id %>
                               <%= hidden_field_tag("itemid", @item.id) %>
                               <%= hidden_field_tag("updated_at", @item.updated_at) %>
                               <%= hidden_field_tag("itemid", @item.id) %></td>
      <td rowspan=<%= count %>><%= text_area_tag("item", @item.name ) %></td>
      <td rowspan=<%= count %>><%= text_area_tag("update_user", @item.update_user ) %></td>
      <% @item.cases.each do |a_case| %>
        <td><%= text_area_tag("casename[]", a_case.name ) %></td>
        <td><%= link_to_function '削除', onClick="DelTableRows(this)" , { :id => "delete" } %></td>
        <%= hidden_field_tag("caseid[]", a_case.id ) %>
        <% a_case.procedures.each do |procedure| %>
          <td><%= text_area_tag("procedurename[]", procedure.name ) %></td>
          <td><%= text_area_tag("reference[]", procedure.reference ) %></td>
        <% end %>
      </tr>
      <% end %>
    </tr>
  </table>
<% end %>
