<% content_for :title do %>編集画面 - こんな時どうする？<% end %>
<% content_for :header do %>こんなときどうする？　編集画面<% end %>
<%= render 'header' %>

<% if @item.errors.size > 0 %>
  <% @item.errors.full_messages.each do |msg| %>
    <p class="alert alert-danger"><%= msg %></p>
  <% end %>
<% end %>

<p></p>

<%= button_to "検索画面へ戻る", {:action => 'search' }, :title => "検索画面に戻ります。
保存していないデータは破棄されますのでご注意ください。"  %>

<p></p>
<p>編集が完了したら、「編集を保存」ボタンで編集を保存してください。ケース入力欄を追加する場合は、「ケース追加」ボタンを押すと最終行に追加されます。</p>

<%= form_tag( :action => 'save') do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= submit_tag "編集を保存" , :title => "編集を保存します。" %>
 &nbsp;&nbsp;
  <%= button_to_function "ケース追加", onClick="AddTableRows()" , { :title => "ケース入力欄を最終行に追加します。"} %> 
  <p></p>
  <table id="listTable" class="listTable">
  <col class="idCol">
  <col class="itemCol">
  <col class="update_userCol">
  <col class="caseCol">
  <col class="changeCol">
  <col class="procedureCol">
  <col class="referenceCol">
    <tr>
      <th>ID</th>
      <th>項目</th>
      <th>登録者</th>
      <th>ケース</th>
      <th>変更</th>
      <th>手順</th>
      <th>参照情報 &nbsp;&nbsp;<%= render 'reference' %></th>
    </tr>
    <% count = @item.cases.length %>
    <tr>
      <td rowspan=<%= count %>><%= @item.id %>
                               <%= hidden_field_tag("itemid", @item.id) %>
                               <%= hidden_field_tag("updated_at", @item.updated_at) %>
                               <%= hidden_field_tag("itemid", @item.id) %></td>
      <td rowspan=<%= count %>><%= text_area_tag("item", @item.name ) %></td>
      <td rowspan=<%= count %>><%= text_area_tag("update_user", @item.update_user ) %></td>
      <% @item.cases.each do |a_case| %>
        <td><%= text_area_tag("casename[]", a_case.name ) %></td>
        <td><%= link_to_function '削除', onClick="DelTableRows(this)" , { :id => "delete" , :title => "ケースを削除します。
削除は「編集を保存」ボタンで反映されます。"} %></td>
        <%= hidden_field_tag("caseid[]", a_case.id ) %>
        <% a_case.procedures.each do |procedure| %>
          <td><%= text_area_tag("procedurename[]", procedure.name ) %></td>
          <td><%= text_area_tag("reference[]", procedure.reference ) %></td>
        <% end %>
      </tr>
      <% end %>
    </tr>
  </table>
<% end %>
</span>
