<h1>こんな時どうする？の編集</h1>

<p>ケースを追加する場合は「追加」ボタンを押下してください。</p>
<form action="add" method="get">
  <input name="addButton" type="button" value="追加" onClick="AddTableRows();"/>
</form>

<p>編集を保存する場合は「保存」ボタンを押下してください。</p>
<form action="save" method="get">
  <input name="saveButton" type="submit" value="保存">
</form>

<p></p>

<table border="1" id="table1">
  <tr>
    <th>ID</th>
    <th>項目</th>
    <th>登録者</th>
    <th>ケース</th>
    <th>変更</th>
    <th>手順</th>
    <th>参照情報</th>
  </tr>
  <% count = @item.cases.length %>
  <tr>
  <td rowspan=<%= count %> valign="top"><%= @item.id %></td>
  <td rowspan=<%= count %> valign="top"><textarea name="item" rows="20" cols="20"><%= @item.name %></textarea></td>
  <td rowspan=<%= count %> valign="top"><textarea name="update_user" rows="20" cols="5"><%= @item.update_user %></textarea></td>
  <% @item.cases.each do |a_case| %>
    <td valign="top"><textarea name="case" rows="20" cols="20"><%= a_case.name %></textarea></td>
    <td valign="top"><%= link_to "削除", {:action => 'delete', :id => a_case.id} %></td>
    <% a_case.procedures.each do |procedure| %>
      <td><textarea name="procedure" rows="20" cols="60"><%= procedure.name %></textarea></td>
      <td><textarea name="reference" rows="20" cols="60"><%= procedure.reference %></textarea></td>
  <% end %>
  </tr>
<% end %>
</tr>
</table>

<script type="text/javascript">
var counter = 0;
function AddTableRows(){
	// カウンタを回す
	counter++;

	// 行追加
	var table1 = document.getElementById("table1");
	var row1 = table1.insertRow(-1);
	var cell1 = row1.insertCell(0);
	var cell2 = row1.insertCell(1);
	var cell3 = row1.insertCell(2);
	var cell4 = row1.insertCell(3);

	var HTML1 = '<textarea name="case' + counter + '" rows="20" cols="20"></textarea>';
	var HTML2 = '<a href="/list/index/delete">削除</a>';
	var HTML3 = '<textarea name="procedure' + counter + '" rows="20" cols="60"></textarea>';
	var HTML4 = '<textarea name="reference' + counter + '" rows="20" cols="60"></textarea>';
	cell1.innerHTML = HTML1;
	cell2.innerHTML = HTML2;
	cell3.innerHTML = HTML3;
	cell4.innerHTML = HTML4;
	
	// セル結合
	var row = table1.getElementsByTagName("tr")[1];
	var col1 = row.getElementsByTagName("td")[0];
	var col2 = row.getElementsByTagName("td")[1];
	var col3 = row.getElementsByTagName("td")[2];
	currRowSpan = col1.getAttribute("rowspan");
	col1.rowSpan = (currRowSpan + 1);
	col2.rowSpan = (currRowSpan + 1);
	col3.rowSpan = (currRowSpan + 1);

	// セル配置
	cell2.vAlign = "top"
}
</script>
