<% content_for :title do %>こんな時どうする？<% end %>
<% content_for :header do %>こんな時どうする？<% end %>
<%= render 'header' %>

<p>項目を絞りこみたい場合は、キーワードを入力して「検索」ボタンを押下してください。複数のキーワードを指定したい場合は、スペース区切りで入力してand/orを指定してください。</p>

<%= form_tag({:action => 'search'} , {:method=>"get"} ) do %>
  <table>
    <tr>
      <td>キーワード：</td>
      <td><%= text_field_tag("keyWords", session[:keyWords] ) %></td>
      <% if(session[:condition] != "or") then %>
        <td><%= radio_button_tag("condition" , "and" , true) %>and</td>
        <td><%= radio_button_tag("condition" , "or" ) %>or</td>
      <% else %>
        <td><%= radio_button_tag("condition" , "and" ) %>and</td>
        <td><%= radio_button_tag("condition" , "or" , true) %>or</td>
      <% end %>
      <td><%= submit_tag "検索" , :title => "キーワード検索を行います。
検索範囲は、「項目」「ケース」「手順」欄です。"%>
      <td><br></td>
      
    </tr>
  </table>
<% end %>


<p>項目を新規追加したい場合は、「追加」ボタンを押下してください。編集、削除したい場合は、各項目の「変更」欄のリンクをクリックしてください。</p>
<%= button_to "新規追加", {:action => 'add'} , :title => "新しく項目を追加します。"  %>

<%= render 'list' %>


<script language="javascript">
window.onload = function() {
   document.getElementById("keyWords").focus();
}
</script>